body{
    background-color: white;
}

header{
    border: 1px solid green;
    text-align: center;
    color: white;
    background-color: #139f9b;
}
#busca{
    text-align: center;
}
input{
    margin-top: 1%;
    border: 2px solid black;
    align-items: center;
}


button{
    align-items: center;
    transition: 1s;
}
button:hover{
    background-color: rgb(169, 230, 230);
    color: black;
}

aside{
    margin-top: 10px;
    width: 250px;
    border: 3px solid green;
    background-color: white;
    right: 3px;
    bottom: 50px;     
}


#container img {
    border: 4px solid green;
    align-items: center;
    max-width:240px;
    max-height:140px;
    width: auto;
    height: auto;
    
    
}

#station img{
    border: 3px solid green;
    align-items: center;
    max-width:240px;
    max-height: 240px;
    width: auto;
    height: auto;
    
    
}

footer{
    border: 1px solid black;
    background-color: rgb(173, 171, 171);
    color: black;
    width: 99%;
    position: fixed;
    bottom: 0;
    height: auto;
    text-align: center;
}